@page
@model RecipeModel

@{
    ViewData["Title"] = "Recipe page";
}

<div>
    <h2> This is the recipe page </h2>
    <hr />
<p>List of Recipes:</p>
@foreach (var r in Model.Recipes)
{
    <p>@Html.DisplayFor(modelItem => r.Title)</p>
}
</div>



