@page
@model UserModel

@{
    ViewData["Title"] = "Login page";
}

<div>
    <h2> This is the Login page </h2>
</div>
<div class="form-group">
    <label asp-for="FirstName" class="control-label">
    </label>
    <input asp-for="FirstName" class="form-control" />
</div>
